<ion-view class="auth-view" cache-view="false">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <span>Reset your password</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row related-navigation">
            <div class="col">
                <a class="nav-left button button-clear" ui-sref="auth.login">
                    Log In
                </a>
                <a class="nav-right button button-clear" ui-sref="auth.signup">
                    Sign Up
                </a>
            </div>
        </div>
        <div class="row related-copy">
            <div class="col">
                <h5>Please enter your email address and we'll send you an email to reset your password.</h5>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="forgot_password_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" name="email" ng-model="forgetPassword.user.email" required>
                        </label>
                    </div>
                    <button type="submit" class="sign-up button button-block" ng-click="forgetPassword.requestNewPassword()" ng-disabled="forgot_password_form.$invalid">
                        Reset Password
                    </button>
                    <p ng-show="forgetPassword.msg" class="message error">{{forgetPassword.msg}}</p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
