<ion-view class="auth-view" cache-view="false">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <span>Sign Up with Email</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row related-navigation">
            <div class="col">
                <a class="nav-right button button-clear" ui-sref="auth.login">
                    Log In
                </a>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="signup_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" name="email" ng-model="signup.user.email" required>
                        </label>
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="Password" name="password" ng-model="signup.user.password" required show-hide-input>
                        </label>
                        <!--<label class="item item-input">
                            <input type="text" placeholder="First Name" name="first_name" ng-model="user.first_name" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Last Name" name="last_name" ng-model="user.last_name" required>
                        </label>-->
                    </div>
                    <button type="submit" class="sign-up button button-block" ng-click="signup.doSignUp()" ng-disabled="signup_form.$invalid">
                        Sign Up
                    </button>
                    <p ng-show="signup.error" class="message error">{{signup.error}}</p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
