<ion-view cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-print print-element-id="print-log">
                <i class="icon ion-printer positive"></i>
      </button>
      <button ng-click="weeklylog.sendEmail()" class="button button-clear" ng-show="weeklylog.parentEmail">
                <i class="icon ion-ios-email positive"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Weekly Log</span>
    </ion-nav-title>

    <ion-content>
      <div class="button-bar">
        <a class="button balanced" ng-click="weeklylog.getLogFor7Days()" ng-disabled="weeklylog.timeFrame == 'last7days' " >Past 7 Days</a>
        <a class="button balanced" ng-click="weeklylog.getLogForLastWeek()" ng-disabled="weeklylog.timeFrame == 'lastWeek' ">Last Week</a>
      </div>
      <table style="width: 1025px; position: absolute; left: 20px; top: 60px;border:1px solid #ccc;border-collapse: collapse" id="print-log">
                <thead>
                    <tr>
                        <td colspan="2" style="border-bottom:1px solid #ccc; border-collapse: collapse;height: 30px; text-align: center;vertical-align: middle">
                            <h3 style="float: left">Name: {{weeklylog.username}}</h3>
                        </td>
                        <td colspan="4" style="border-bottom:1px solid #ccc; border-collapse: collapse;height: 30px; text-align: center;vertical-align: middle">
                            <h3>{{weeklylog.timeDescription}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td width="75px" style="height: 30px; border: 1px solid #ccc; border-collapse: collapse; text-align: center;"></td>
                        <td width="400px" style="height: 30px; border: 1px solid #ccc; border-collapse: collapse; text-align: center;"><h4>Title & Author</h4></td>
                        <td width="100px" style="height: 30px; border: 1px solid #ccc; border-collapse: collapse; text-align: center;"><h4>Genre *</h4></td>
                        <td width="150px" style="height: 30px; border: 1px solid #ccc; border-collapse: collapse; text-align: center;"><h4>Rating</h4></td>
                        <td width="150px" style="height: 30px; border: 1px solid #ccc; border-collapse: collapse; text-align: center;"><h4>I Read</h4></td>
                        <td width="150px" style="height: 30px; border: 1px solid #ccc; border-collapse: collapse; text-align: center;"><h4>Reading Time</h4></td>

                    </tr>
                </thead>
                <tbody ng-repeat="data in weeklylog.booksReadWeekly">
                    <tr ng-repeat="book in data.books">
                        <td ng-if="$index===0" width="75px" rowspan="{{data.books.length}}"
                            style="border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-collapse: collapse;">
                            <div>{{data.name}}</div>
                            <div>{{data.date}}</div>
                        </td>

                        <td width="400px" style="border-right:1px solid #ccc;border-bottom: 1px solid #ccc; border-collapse: collapse;">
                            <span ng-if="book.title">{{book.title}}</span>
                            <span ng-if="!book.title">&nbsp;</span>
                            <div ng-if="book.authors" style="font-size: 12px">by {{book.authors}}</div>
                        </td>
                        <td width="100px" style="border-right: 1px solid #ccc;border-bottom: 1px solid #ccc; border-collapse: collapse;">
                            <span ng-if="book.genre">{{book.genre}}</span>
                            <span ng-if="!book.genre">&nbsp;</span>
                        </td>
                        <td width="150px" style="border-right:1px solid #ccc;border-bottom: 1px solid #ccc; border-collapse: collapse;">
                            <span ng-repeat="i in book.starsArr track by $index"><img src="img/brown-star.png" width="15px"></img></span><span ng-repeat="i in book.nonStarsArr track by $index"><img src="img/empty-star.png" width="15px"></img></span>
                        </td>
                        <td width="150px" style="border-right: 1px solid #ccc;border-bottom: 1px solid #ccc; border-collapse: collapse;">
                            <span ng-if="book.howIRead">{{book.howIRead}}</span>
                            <span ng-if="!book.howIRead">&nbsp;</span>
                        </td>
                        <td width="150px" style="border-right:1px solid #ccc;border-bottom: 1px solid #ccc; border-collapse: collapse;">
                            <div>Minutes: {{book.timeRead}}
                            </div>
                            <div>
                            Parent Signature:
                            <p>&nbsp;</p>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="6" style="vertical-align: middle">
                            <h1 >Total Minutes:<span style="font-size: 30px;color:red"> {{weeklylog.totalminutes}}</span></h1>
                      </td>
                    </tr>
                    <tr>

                        <td colspan="6" style="word-wrap: break-word">
                            <span ng-repeat="genre in weeklylog.genres">
                                * ({{genre.value}}) {{genre.name}}
                            </span>
                        </td>
                    </tr>
                  <tr>
                    <td colspan="6" style="height:20px">
                    </td>
                  </tr>
                </tfoot>
            </table>

    </ion-content>

</ion-view>
