<ion-modal-view class="full-size" ng-controller="appBookScan as bookscan" >
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Book Scan</h1>
        <div class="button button-clear" ng-click="bookscan.closebookScanModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <a ng-click="bookscan.scanMyBookNow()" class="text-center">
            <img src="img/barcodescanner.png" style="display:block;margin-left:auto;margin-right:auto"/> 
            <h4>Scan Your Book</h4>
        </a>
      
        <div class="card">
            <div class="item item-text-wrap">
                {{bookscan.scanResults.text}}
            </div>
            <bookitem book-info="bookscan.bookInfo" ng-if="bookscan.bookInfo"></bookitem>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced" align-title="center">
        <div class="title" ng-click="setBookInfo(bookscan.bookInfo);bookscan.closebookScanModal()">Ok</div>
    </ion-footer-bar>
</ion-modal-view>
