<ion-modal-view class="modal" ng-controller="appBookEntry as bookEntry" class="full-size">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Log my book</h1>
        <div class="button button-clear" ng-click="bookEntry.closeBookEntryModal()">
          <span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <label class="item item-input full-size">
          <span class="input-label">Title</span>
            <input type="text" required placeholder="Book Title" ng-model="bookEntry.title">
        </label>
      <label class="item item-input full-size">
        <span class="input-label">Author</span>
        <input type="text" required placeholder="Author" ng-model="bookEntry.authorname">
      </label>
    </ion-content>
    <ion-footer-bar class="bar-balanced"  align-title="center">
        <div class="title" ng-click="setBookInfo(null, bookEntry.title, bookEntry.authorname);bookEntry.closeBookEntryModal()">Ok</div>
    </ion-footer-bar>
</ion-modal-view>
