<ion-modal-view class="full-size" ng-controller="appStopWatch as stopWatch">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Stop Watch</h1>
        <div class="button button-clear" ng-click="stopWatch.closeStopWatchModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <div class="card padding">

            <div class="row padding">
                <div class="col center">
                    <h1 class="stop-watch">
                        <basictimer interval="1000" autostart="false">
                        {{hhours}} : {{mminutes}} : {{sseconds}} 
                        </basictimer>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col center">
                    <a class="button button-icon icon ion-trash-b" ng-click="stopWatch.resetTimer()"></a>
                </div>
                <div class="col center">
                    <a class="button icon ion-play button-assertive" ng-click="stopWatch.startTimer()" ng-show="!timerRunning || $scope.timerPaused"></a>
                    <a class="button icon ion-pause button-assertive" ng-click="stopWatch.stopTimer()" ng-show="timerRunning"></a>
                </div>

            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced" align-title="center">
        <div class="title" ng-click="stopWatch.setTimeInfo();stopWatch.closeStopWatchModal()">Ok</div>
    </ion-footer-bar>
</ion-modal-view>