<ion-modal-view class="full-size" ng-controller="appTimer as timer">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Timer</h1>
        <div class="button button-clear" ng-click="timer.closeTimerModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
      <ion-content>
          <div class="bar bar-header item-input-inset">
              <label class="item-input-wrapper">
                  <input type="number" placeholder="Minutes I plan to read" 
                         ng-model="timer.minutes" 
                         ng-change="timer.setDuration()" min="0"
                         auto-start="false"
                         max="60">
              </label>
          </div>

          <div class="card">
              <div class="row padding" ng-click="timer.toggleTimer()">
                  <ion-timer duration="timer.duration" opts="timer.ionTimerOpts" class="basic-timer"></ion-timer>
              </div>

              <div class="row">
                  <div class="col center">
                      <a class="button button-icon icon ion-trash-b" ng-click="timer.stopTimer()"></a>
                  </div>
                  <div class="col center">
                      <a class="button icon ion-play button-assertive" ng-click="timer.toggleTimer()" ng-show="timer.ionTimerOpts.controls.status() == 'PAUSED' || timer.ionTimerOpts.controls.status() == 'STOPPED'"></a>
                      <a class="button icon ion-pause button-assertive" ng-click="timer.toggleTimer()" ng-show="timer.ionTimerOpts.controls.status() == 'STARTED'"></a>
                  </div>

              </div>
          </div>
          </ion-content>
          <ion-footer-bar class="bar-balanced"  align-title="center">
              <div class="title" ng-click="timer.setTimerInfo();timer.closeTimerModal()">Ok</div>
          </ion-footer-bar>
</ion-modal-view>
