<ion-modal-view class="full-size" ng-controller="appTimeForm as timeForm">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Log my time in reading</h1>
        <div class="button button-clear" ng-click="timeForm.closeTimeFormModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>

            <div class="row">
                <ionic-datepicker idate="currentDate"
                                  disablepreviousdates="false"
                                  disablefuturedates="true"
                                  callback="timeForm.datePickerCallback"
                                  title="title">
                    <button class="button button-block button-positive"> {{ currentDate | date:'dd - MMMM - yyyy' }} </button>
                </ionic-datepicker>
            </div>
            <div class="row">
                <label class="item item-input full-size">
                    <input type="number" required placeholder="Reading minutes"
                           ng-model="timeForm.minutes">
                </label>
            </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced" align-title="center">
        <div class="title" ng-click="timeForm.setTimeInfo( );timeForm.closeTimeFormModal()">Ok</div>
    </ion-footer-bar>
</ion-modal-view>
